#welcome{
    background-image: url(../background/ivan-torres-MQUqbmszGGM-unsplash.jpg);
    text-align: center;
    color:white;
    height: 500px;
    position: relative;
    background-size: cover;
    background-position:center;
}
 h1{
    font-size: 50px;
}
#message{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
}
#about{
    font-size: 18px;
    padding: 50px;
    text-align: center;
    background-color:whitesmoke;
}
#about h2{
    text-align: center;
    text-decoration: underline;
    padding: 10px;
    box-sizing: border-box;
}
#where-it-began{
    font-size: 18px;
    padding: 20px;
    color:whitesmoke;
    text-align: center;
    background-image:url(../background/tamara-gak-SQLOsc0HGDI-unsplash.jpg);
    background-size: cover;
}
#where-it-began h2{
    text-align: center;
    text-decoration: underline;
    padding: 10px;
    top: 50%;
    left: 50%;
    margin:inherit;
}
.header{
    text-align: center;
    background-color: rgb(29, 25, 25);
    color: whitesmoke;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    padding: 20px;
    /* border: 5px solid white; */
    /* text-decoration: underline; */
    margin:0;
}
#choice{
    text-align: center;
    padding: 50px;
}
.col-md-3{
    border: 1px solid #ccc;
    padding: 20px;
}
.col-md-3 img{
    width: 100%;
    height: auto;
}
div.polaroid {
    padding: 15px;
}
#toppings{
    text-align: center;
    padding: 80px;
}
#order{
    background-image: url(../background/shaian-ramesht-exSEmuA7R7k-unsplash.jpg);
    background-size: cover;
    color:white;
    padding: 50px;
}
h2{
    font-family: 'Pacifico', cursive;
} 
h3{
    font-family: 'Pacifico',cursive;
}
p{
    font-family: 'Roboto', sans-serif;

}

#delivery-method{
    background-color:transparent;
}

#crust{
    background-color:transparent;
}

#p-type{
    background-color:transparent;
}

#new-first-name{
    background-color:transparent;
}
#output{
    background-color: rgb(29, 25, 25);
    color:white;
}
#footer{
    box-align: center;
    padding:20px;
}